@media (min-width: 1200px) and (prefers-reduced-motion: no-preference) {
	@keyframes torch-opacity {
		0%,
		100% {
			opacity: 0.75;
		}
		15% {
			opacity: 0.9;
		}
		30% {
			opacity: 0.65;
		}
		45% {
			opacity: 0.85;
		}
		60% {
			opacity: 0.55;
		}
		75% {
			opacity: 0.9;
		}
		90% {
			opacity: 0.75;
		}
	}

	@keyframes torch-scale {
		0%,
		100% {
			scale: 1.05;
		}
		12% {
			scale: 1.1;
		}
		24% {
			scale: 1;
		}
		36% {
			scale: 1.07;
		}
		48% {
			scale: 1.03;
		}
		60% {
			scale: 1.09;
		}
		72% {
			scale: 1.01;
		}
		84% {
			scale: 1.08;
		}
		96% {
			scale: 1.02;
		}
	}

	@keyframes torch-translate {
		0%,
		100% {
			translate: 0px 0px;
		}
		10% {
			translate: 2px -2px;
		}
		20% {
			translate: -1px 2px;
		}
		30% {
			translate: 3px -1px;
		}
		40% {
			translate: -2px 1px;
		}
		50% {
			translate: 1px -3px;
		}
		60% {
			translate: -2px 2px;
		}
		70% {
			translate: 2px 0px;
		}
		80% {
			translate: -1px 3px;
		}
		90% {
			translate: 1px -1px;
		}
	}

	:root {
		--torch-offset: -650px;
		--torch-width: 1000px;
		--torch-stretch-x: 50%;
		--torch-stretch-y: 250%;

		--torch-core-color: rgba(255, 230, 150, 0.45); /* Hot yellow/white center */
		--torch-mid-color: rgba(255, 110, 0, 0.3); /* Main orange body */
		--torch-edge-color: rgba(90, 15, 0, 0.15); /* Smoky dark red edge */
	}

	/* Torch Flicker effect placement */
	body::before,
	body::after {
		content: "";
		position: fixed;
		top: 0;
		bottom: 0;
		width: var(--torch-width);
		z-index: 0;
		pointer-events: none;

		will-change: opacity, scale, translate;

		filter: blur(3px);

		mix-blend-mode: screen;
		background:
			radial-gradient(
				var(--torch-stretch-x) var(--torch-stretch-y) at center,
				var(--torch-core-color) 1%,
				rgba(255, 230, 150, 0) 40%
			),
			radial-gradient(
				var(--torch-stretch-x) var(--torch-stretch-y) at center,
				var(--torch-mid-color) 5%,
				var(--torch-edge-color) 45%,
				rgba(90, 15, 0, 0) 90%
			);
	}

	body::before {
		left: var(--torch-offset);
		animation:
			torch-opacity 7.3s infinite,
			torch-scale 5.3s infinite,
			torch-translate 3.7s infinite;
	}
	body::after {
		right: var(--torch-offset);
		animation:
			torch-opacity 8.9s infinite,
			torch-scale 7.1s infinite,
			torch-translate 4.3s infinite;
	}
}
