.torch-lights {
	display: none;
}

@media (min-width: 1200px) and (prefers-reduced-motion: no-preference) {
	@keyframes torch-opacity {
		0%,
		100% {
			opacity: 0.75;
		}
		15% {
			opacity: 0.9;
		}
		30% {
			opacity: 0.65;
		}
		45% {
			opacity: 0.85;
		}
		60% {
			opacity: 0.55;
		}
		75% {
			opacity: 0.9;
		}
		90% {
			opacity: 0.75;
		}
	}

	:root {
		--torch-width: 350px;
		--torch-radius-x: 500px;
		--torch-radius-y: 250vh;
		--torch-center-offset: -150px;

		--torch-core-color: rgba(255, 230, 150, 0.45); /* Hot yellow/white center */
		--torch-mid-color: rgba(255, 110, 0, 0.3); /* Main orange body */
		--torch-edge-color: rgba(90, 15, 0, 0.15); /* Smoky dark red edge */
	}

	.torch-lights {
		display: block;
		position: fixed;
		inset: 0;
		z-index: 0;
		pointer-events: none;
		overflow: hidden;
	}

	.torch-light {
		position: absolute;
		inset-block: 0;
		width: var(--torch-width);
		will-change: opacity;
	}

	.torch-light-left {
		left: 0;
		background:
			radial-gradient(
				var(--torch-radius-x) var(--torch-radius-y) at var(--torch-center-offset) center,
				var(--torch-core-color) 1%,
				rgba(255, 230, 150, 0) 40%
			),
			radial-gradient(
				var(--torch-radius-x) var(--torch-radius-y) at var(--torch-center-offset) center,
				var(--torch-mid-color) 5%,
				var(--torch-edge-color) 45%,
				rgba(90, 15, 0, 0) 90%
			);
		animation: torch-opacity 7.3s infinite;
	}

	.torch-light-right {
		right: 0;
		background:
			radial-gradient(
				var(--torch-radius-x) var(--torch-radius-y) at calc(100% - var(--torch-center-offset))
					center,
				var(--torch-core-color) 1%,
				rgba(255, 230, 150, 0) 40%
			),
			radial-gradient(
				var(--torch-radius-x) var(--torch-radius-y) at calc(100% - var(--torch-center-offset))
					center,
				var(--torch-mid-color) 5%,
				var(--torch-edge-color) 45%,
				rgba(90, 15, 0, 0) 90%
			);
		animation: torch-opacity 8.9s infinite reverse;
	}
}
